@import "tailwindcss";

@theme {
	--font-inter: "Inter", "Noto Color Emoji", "Segoe UI Emoji";
	--font-poppins: "Poppins", "Noto Color Emoji", "Segoe UI Emoji";
}

/* Inter font initialization */
@font-face {
	font-family: "Inter";
	src: url("/fonts/Inter.ttf");
}

/* Poppins font initialization */
@font-face {
	font-family: "Poppins";
	src: url("/fonts/Poppins-Black.ttf");
	font-weight: 900;
}

@font-face {
	font-family: "Poppins";
	src: url("/fonts/Poppins-ExtraBold.ttf");
	font-weight: 800;
}

@font-face {
	font-family: "Poppins";
	src: url("/fonts/Poppins-Bold.ttf");
	font-weight: 700;
}

@font-face {
	font-family: "Poppins";
	src: url("/fonts/Poppins-SemiBold.ttf");
	font-weight: 600;
}

@font-face {
	font-family: "Poppins";
	src: url("/fonts/Poppins-Medium.ttf");
	font-weight: 500;
}

@font-face {
	font-family: "Poppins";
	src: url("/fonts/Poppins-Regular.ttf");
	font-weight: 400;
}

@font-face {
	font-family: "Poppins";
	src: url("/fonts/Poppins-Light.ttf");
	font-weight: 300;
}

@font-face {
	font-family: "Poppins";
	src: url("/fonts/Poppins-ExtraLight.ttf");
	font-weight: 200;
}

@font-face {
	font-family: "Poppins";
	src: url("/fonts/Poppins-Thin.ttf");
	font-weight: 100;
}

/* Tables */
table:is(.pretty) {
	--table-border-radius: 6px;
	border-collapse: separate;
	border-spacing: 0;

	/* Erstes child der Header-Row */
	& th:first-child {
		border-top-left-radius: var(--table-border-radius);
	}

	/* Letztes child der Header-Row */
	& th:last-child {
		border-top-right-radius: var(--table-border-radius);
	}

	/* Erstes child der letzten Data-Row */
	& tr:last-child td:first-child {
		border-bottom-left-radius: var(--table-border-radius);
	}

	/* Letztes child der letzten Data-Row */
	& tr:last-child td:last-child {
		border-bottom-right-radius: var(--table-border-radius);
	}

	/* Style for every element */
	& :is(th, td) {
		border-style: solid;
		border-width: 0 1px 1px 0;
		padding: 6px 10px;
	}

	/* Top side (+ header styling) */
	& :is(th) {
		font-size: 18px;
		border-top-width: 1px;
	}

	/* Left side */
	& :is(th, td):first-child {
		border-left-width: 1px;
	}
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Style the scrollbar */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

/* Style the thumb (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
	background-color: rgba(249, 250, 251, 0.4);
	border-radius: 4px;
	border: 3px solid transparent;
}

/* Style the track (the part the thumb slides in) */
::-webkit-scrollbar-track {
	background-color: transparent;
}
