---
import "./global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/icon.ico" />
    <title>Taskify</title>
    <link rel="manifest" href="manifest.json" />
    <script src="/src/pwa.ts"></script>
  </head>
  <body class="text-white bg-gray-900 font-inter">
    <slot />
  </body>
</html>
